body{
 text-align: center;
 background-image: url(../img/respawm.png);
 background-repeat: no-repeat;
 background-color: rgb(0,0,0);

}

h1{
	color: rgb(255,255,255);
	background-image: url(../img/textura.jpg);

}

h2{
	color: rgb(255,255,255);
	font-size: 40px;

}
h4{
	font-size: 35px;
}

ol{
 	color: rgb(255,255,255);
 	margin-left: 200px;
 	margin-right: 200px;
 	font-size: 20px;

}

a{
 	color: rgb(255,255,255)
}
h3{
	color: rgb(255,255,255);
	border-color: rgb(255,255,255);
}
li{
	color: rgb(255,255,255);
 	margin-left: 350px;
 	margin-right: 350px;
 	font-size: 20px;
}

#noob{
	color: rgb(255,255,0);
}

#a007n7{
	color: rgb(247,205,121);
}

#shedletsky{
	color: rgb(255,255,255);
}

#guest1337{
	color: rgb(85,107,47);
}

#twotime{
	color: rgb(169,169,169);
}

#chance{
	color: rgb(79,79,79);
}

#elliot{
	color: rgb(255,35,32);
}

#dusekkar{
	color: rgb(0,5,165);
}

#taph{
	color: rgb(136,0,191);
}

#builderman{
	color: rgb(255,155,0);
}

#jason{
	color: rgb(91,61,61);
}

#c00lkidd{
	color: rgb(173,14,14);
}

#johndoe{
	color: rgb(209,216,74);
}

#a1x4{
	color: rgb(31,226,0);
}

#kill{
	color: rgb(255,0,0);
}

#herois{
	color: rgb(0,0,255);
}

#y{
	color: rgb(0,0,255);
}

#z{
	color: rgb(255,0,0);
}

strong{
	color: rgb(100,0,0);
}