	.container{
		display: flex;
		align-items:center;
	}
	li{
		list-style:none;
		align-items:center;
	}
	body{
		text-align:center; 
		font-family:arial;
		font-size:30px;
		background-color:#2B2D42;
	}
	footer{
		padding: 10px;
		color: #f4f4f4 ;
		background-color: green;
		text-aling: center; 
	}
	img{
		margin-right:auto;
		margin-left:auto;
		height:450px;
	}
	h2{
		color:#87CEEB;
	}
	h3{
		color:#E63946;
	}
	h4{
		color:#FFCC00;
	}