body {
  background-color: black;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 3;
  position: absolute;
  top: 35%;
  left: 45%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.fundo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  z-index: 0;
  border: 10px solid rgb(80, 88, 65 / 1.0);
}

.botao {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
}
